@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: $black;
  color: $white;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange;
  color: $white;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
  min-height: 45px;
  min-width: 185px;
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
  z-index: 999;
}

.btn-transparent {
  background-color: transparent;
  background-color: $white;
  color: $orange;
}

.header {
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  &__content {
    margin-top: 210px;
    max-width: 680px;
  }

  &__title {
    font-size: 64px;
    font-family: "Orbitron", sans-serif;

    span {
      font-family: inherit;
      color: rgba(0, 0, 0, 0);
      text-shadow: 2px 2px 0 #ff6201;
    }
  }

  &__subtitle {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

.logo {
  text-transform: uppercase;
  font-weight: 800;
  color: $orange;
}

.nav {
  padding-top: 50px;

  &__list {
    gap: 40px;
    list-style: none;
    color: $white;
  }
}

.section-heading {
  text-align: center;
  padding: 40px 0;

  &__title {
    font-size: 48px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
  }
}

#categories {
  margin-top: 100px;
}

.categories-list {
  display: flex;
  gap: 60px;
}

.categories-item-unique {
  max-width: 510px;

  &__image {
    border-top-left-radius: 100px;
    overflow: hidden;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
  }

  &__descr {
    font-size: 16px;
  }

  &__body {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 55px;
  }
}

.categories-item {
  position: relative;

  &__image {
    position: relative;
    border-top-left-radius: 25px;
    overflow: hidden;
    z-index: 8;

    &::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
    }
  }

  &__title {
    z-index: 10;
    position: absolute;
    bottom: 20px;
    font-size: 32px;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
  }
}

#lifestyle {
  margin-top: 100px;
}

#classes {
  margin-top: 100px;
  background-image: url("../images/classes-background.png");
}

.classes-items {
  display: flex;
  gap: 50px;
}

.classes-item {
  &__row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    z-index: 5;
    position: relative;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      background-color: $orange;
      border-radius: 5px;
      bottom: 0;
      left: -1.5%;
      width: 103%;
      height: 85px;
      clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    }
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }
}
